/* Josh Cameu's Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select, p, span {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Fonts */

@font-face {
    font-family: 'airbnbcereal_w_bkregular';
    src: url('fonts/airbnbcereal_w_bk-webfont.woff2') format('woff2'),
         url('fonts/airbnbcereal_w_bk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnbcereal_w_bluploadedfile';
    src: url('fonts/airbnbcereal_w_blk-webfont.woff2') format('woff2'),
         url('fonts/airbnbcereal_w_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Page style */
:root{
  --pink: #FFCAD4;
  --warm-pink: #9D8189;
  --vivid-pink: #F4ACB7;
  --bg-color: #9D8189;
  --light-black: #343A40;
  --light-black-border: rgb(52, 58, 64, .3);  
  --platinum: #FFE5D9;
  --black: #161014;
  --champagne: #D8E2DC;
}


body{
  font-family: "airbnbcereal_w_bkregular", Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  background-color: var(--bg-color);
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 720px;
  margin-left: -300px;
  margin-top: -350px;
}

.score{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  display: block;
}

.game{
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.cell{
  position: relative;
  border-collapse: collapse;
  border: 3px solid var(--black);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  transition: background-color .1s;
  will-change: background-color, border-color;
}

.cell:hover{
  background-color: var(--pink);
  border-radius: 3px;
}

.data{
  width: 600px;
  height: 120px;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
  font-weight: 600;
  padding: 8px 12px 12px; 
}

.data .player{
  padding-top: 12px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
}

.data .score{
  font-size: 250%;
  grid-column: 1/ -1;
}

.data .x{
  display: inline-block;
  width: 17px;
  height: 17px;
  transform: translate3d(0, 0, 0);
}

.data .x::before, .data .x::after{
  top: 3px;
  left: 2px;
  margin-left: 7px;
  width: 3px;
  height: 17px;
  border-radius: 1px;
}

.x::before, .x::after{
  content: "";
  display: block;
  position: absolute;
  background-color: var(--black);
}

.x::before{
  transform: rotate(-45deg);
}

.x::after{
  transform: rotate(45deg);
}

.data .o{
  display: inline-block;
  border: 3px solid var(--black);
  background-color: transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 3px;
  left: 2px;
  transform: translate3d(0, 0, 0);
}

.x, .o{
  width: 100%;
  height: 100%;
  position: relative;
}

.game .x, .game .o {
  will-change: transform;
  animation: appear .2s
  cubic-bezier(0.5,1.8,0.1,1.1);;
}

div.x::before, div.x::after{
  position: absolute;
  display: block;
  width: 20px;
  height: 160px;
  top: 20px;
  left: 80px;
  border-radius: 6px;
}

div.o{
  position: absolute;
  display: block;
  width: 140px;
  height: 140px;
  border: 20px solid var(--black);
  border-radius: 50%;
  top: 30px;
  left: 30px;
}

.first-dialog {
  background-color: var(--blue);
  width: 600px;
  height: 400px;
  margin: 120px auto;
  border-radius: 18px;
  outline: none;
  border: none;
  z-index: 1;
  padding: 0;
}

.first-dialog .first-form{
  width: 100%;
  height: 100%;
  padding: 20px 80px;
  background-color: var(--platinum);
  border: 4px solid var(--light-black-border);
  border-radius: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 0.5fr;
  justify-items: center;
  align-items: center;
}

.first-form .name{
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
}

.name input{
  background-color: var(--grey);
  grid-row: 2/3;
  margin-top: 12px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--light-black);
  padding: 2px 12px;
  font-weight: 600;
  transition: .2s all linear;
}

.name input:hover{
  border-color: var(--warm-pink);
}

.name input:focus{
  border-color: var(--vivid-pink);
}

.mark-choice{
  grid-column: 1/3;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
}

.mark-choice h3{
  width: 100%;
  text-align: center;
}

.mark-button{
  position: relative;
  width: 120px;
  height: 90px;
  appearance: none;
  border: none;
  border: 3px solid var(--light-black-border);
  transition: .2s all linear;
}

.mark-button.x::after, .mark-button.x::before {
  width: 50px;
  height: 8px;
  border-radius: 3px;
  left: 32px;
  top: 38px;
}

.mark-button.o::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  border: 8px solid var(--black);
  border-radius: 50%;
  top: 19px;
  left: 35px;
}

.mark-button.x:hover, .mark-button.x:hover, .mark-button.o:hover, .confirm button:hover {
  background-color: var(--warm-pink);
  border-color: var(--warm-pink);
}

.mark-button.x:checked, .mark-button.x:checked, .mark-button.o:checked, .confirm button:focus {
  background-color: var(--vivid-pink);
  border-color: var(--vivid-pink);
}

.confirm {
  grid-column: 1 / 3;
  width: 100%;
  text-align: center;
}

.confirm button {
  width: 100px;
  height: 50px;
  appearance: none;
  border: none;
  border: 3px solid var(--light-black-border);
  transition: .2s all linear;
  font-weight: 600;
  background-color: inherit;
}

.second-dialog{
  background-color: var(--blue);
  width: 600px;
  height: 400px;
  margin: 120px auto;
  border-radius: 18px;
  outline: none;
  border: none;
  z-index: 1;
  padding: 0;
  transition: .2 all linear;
}

.second-dialog .second-form{
  width: 100%;
  height: 100%;
  padding: 40px 80px 20px;
  background-color: var(--platinum);
  border: 4px solid var(--light-black-border);
  border-radius: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
  align-items: center;
}

.second-form .name{
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
  align-items: start;
}


.first-dialog[open], .second-dialog[open]{
  animation: appear .1s;
}

.cell.top {
  border-top-color: transparent;
}

.cell.left{
  border-left-color: transparent;
}

.cell.right{
  border-right-color: transparent;
}

.cell.bottom{
  border-bottom-color: transparent;
}

.intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  gap: 50px;
  font-size: 150%;
  background: linear-gradient(270deg, rgba(244,172,183,1) 0%, rgba(157,129,137,1) 35%, rgba(22,16,20,1) 100%);
}

.intro h1{
  word-spacing: 10px;
}

.intro h5{
  margin-top: -35px;
}

.intro p{
  animation: intro-text 1.5s ease-out infinite;
}
 .cell .update-status{
  animation: update-status-scale 0.6s infinite ease-in-out;
}

.active-player{
  margin-top: 12px;
  grid-column: 1/3;
  text-align: center;
  font-size: 80%;
  height: 30px;
  animation: update-status-scale 0.6s infinite ease-in-out;
}

@keyframes appear{
  0% {
    transform: scale(0.3);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes intro-text{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes update-status-scale{
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
}

@keyframes update-status-color{
  0% {
    background-color: var(--black);
  }
  50%{
    background-color: var(--champagne);
  }
}