/* Josh Cameu's Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select, p, span {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Fonts */

@font-face {
    font-family: 'airbnbcereal_w_bkregular';
    src: url('fonts/airbnbcereal_w_bk-webfont.woff2') format('woff2'),
         url('fonts/airbnbcereal_w_bk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnbcereal_w_bluploadedfile';
    src: url('fonts/airbnbcereal_w_blk-webfont.woff2') format('woff2'),
         url('fonts/airbnbcereal_w_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes appear{
  0% {
    transform: scale(0.3);
  }
  100%{
    transform: scale(1);
  }
}

/* Page style */
:root{
  --buff-color: #D4A373;
  --papaya-color: #FAEDCD;
  --cornsilk-color: #FEFAE0;
  --beige-color: #E9EDC9;
  --green-color: #CCD5AE;
}


body{
  font-family: "airbnbcereal_w_bkregular", Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  background-color: var(--green-color);
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 720px;
  margin-left: -300px;
  margin-top: -350px;
}

.header, .score{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  display: block;
}

.game{
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.row{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell{
  position: relative;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: background-color .1s;
  will-change: background-color, border-color;
}

.cell:hover{
  background-color: var(--cornsilk-color);
}

.data{
  width: 600px;
  height: 120px;
  background-color: var(--buff-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  font-weight: 600;
  padding: 8px 12px 12px; 
}

.data .player{
  padding-top: 12px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
}

.data .score{
  font-size: 250%;
  grid-column: 1/ -1;
}

.data .x{
  display: inline-block;
  width: 17px;
  height: 17px;
  transform: translate3d(0, 0, 0);
}

.data .x::before, .data .x::after{
  top: 3px;
  left: 2px;
  margin-left: 7px;
  width: 3px;
  height: 17px;
  border-radius: 1px;
}

.x::before, .x::after{
  content: "";
  display: block;
  position: absolute;
  background-color: black;
}

.x::before{
  transform: rotate(-45deg);
}

.x::after{
  transform: rotate(45deg);
}

.data .o{
  display: inline-block;
  border: 3px solid black;
  background-color: transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 3px;
  left: 2px;
  transform: translate3d(0, 0, 0);
}

.x, .o{
  width: 100%;
  height: 100%;
  position: relative;
}

.game .x, .game .o {
  will-change: transform;
  animation: appear .2s
  cubic-bezier(0.5,1.8,0.1,1.1);;

}

div.x::before, div.x::after{
  position: absolute;
  display: block;
  width: 20px;
  height: 160px;
  top: 20px;
  left: 80px;
  border-radius: 6px;
}

div.o{
  position: absolute;
  display: block;
  width: 140px;
  height: 140px;
  border: 20px solid black;
  border-radius: 50%;
  top: 30px;
  left: 30px;
}